<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dk.dr.radio.v3"
          android:versionCode="1"
          android:versionName="0.1.6 - 31.marts">

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="19"/>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- For at kunne gemme podcasts -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- akamai -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
            android:allowBackup="true"
            android:name="dk.dr.radio.diverse.App"
            android:icon="@drawable/ic_launcher"
            android:logo="@drawable/dr_logo"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dr"
            >

        <!--
            android:theme="@style/Theme.AppCompat.Light"
            android:theme="@style/Theme.Dr"


            android:theme="@style/Theme.Drxx_ab"
            android:theme="@style/CustomActionBarTheme"
            android:theme="@style/AppTheme"
            android:logo="@drawable/dr_logo_stort"
                    -->
        <activity
                android:name="dk.dr.radio.akt.Hovedaktivitet"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="dk.dr.radio.akt.VisFragment_akt">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="dk.dr.radio.akt.Hovedaktivitet"/>
        </activity>


        <activity
                android:name="dk.dr.radio.akt.Indstillinger_akt"
                android:label="DR Radio Indstillinger">
            <!-- Gør aktivitet synlig i forbindelse med at brugeren gennemser sit dataforbrug -->
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name="dk.dr.radio.data.HentedeUdsendelser$DownloadServiceReciever">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>

        <!--
         * Tidligere AfspillerService - service-del der sørger for at app'en
         * bliver i hukommelsen mens der spilles lyd
        -->
        <service android:name="dk.dr.radio.afspilning.HoldAppIHukommelsenService"/>


        <!--
     * BroadcastReceiver som aktiverer afspilleren og evt instantierer den.
     * I tilfælde af at processen har været smidt ud af hukommelsen er dette
     * her faktisk den første kode der køres, derfor er et fuldt
        -->
        <receiver android:name="dk.dr.radio.afspilning.AfspillerStartStopReciever"/>


        <!-- Til håndtering af knapper på fjernbetjening (f.eks. på Bluetooth headset.)
             Mangler: God håndtering i tråd med forslag i
             http://android-developers.blogspot.com/2010/06/allowing-applications-to-play-nicer.html
        -->
        <receiver android:name="dk.dr.radio.diverse.MediabuttonReceiver">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver
                android:name="dk.dr.radio.diverse.AfspillerIkonOgNotifikation"
                android:label="DR Radio">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/afspiller_widgetinfo"/>
        </receiver>


        <!-- Denne aktivitet fanger browsning af URLer der starter med http://dr.dk/radio/ondemand/ -->
        <activity android:name="dk.dr.radio.akt.FangBrowseIntent_akt_skrald">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="xxhttp"
                        android:host="dr.dk"
                        android:pathPrefix="/radio/ondemand/"/>
                <data
                        android:scheme="xxhttp"
                        android:host="www.dr.dk"
                        android:pathPrefix="/radio/ondemand/"/>
            </intent-filter>
        </activity>


    </application>

</manifest>
